<div class="article">
    <%= link_to show_article_path(article) do %>
        <img src="<%= image_path article.img_name.downcase %>" class="article_img">
    <% end %>

    <div class="article_text">
        <p>Name: <%= article.name %></p>
        <p>Preview: <%= article.preview %></p>
    </div> 
</div>
