<div class="article">
    <%= link_to show_article_path(article) do %>
        <div class="img_container">
            <img src="<%= image_path article.img_name.downcase %>" class="article_img">
        </div>
    <% end %>

    <div class="article_text">
        <p class="article_name"><%= article.name %></p>
        <p class="article_preview"><%= article.preview %></p>
    </div> 
</div>