<h1>Create New Article</h1>

<%= link_to 'Home', articles_path %>

<p>
    <% if @article.errors.any? %>
        <% @article.errors.full_messages.each do |message| %>
            <p><%= message %></p>
        <% end %>
    <% end %>
</p>

<%= render "form" %>
